.container-fluid
{
  width: 100%;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
img{
  position: absolute;
  border-radius: 5px;
}
.navbar
{
  background-color:#372823!important ;
  position: fixed !important;
  top: 3%;
  right: 1.5%;  
  width: 40%;
  font-size: 0.60rem!important;
  border-radius: 5px;
}
article 
{
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}
article::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url("ny.jpg") top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}
section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  position: relative;
  transform-style: inherit;
}

.section1 {
  background: #372823;
  z-index: 1;
}

.section2::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url("USA.jpg") top center;
  background-size: cover;
  transform: translateZ(-.5px) scale(1.6);
  z-index: -1;
}
h1,p {
  color: white;
  font-size: 4rem;
  text-align: center;
  position: absolute;
  padding: 1rem;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}
h1
{
  letter-spacing: 150px;
}
.hone
{
  top:25%;
  letter-spacing: normal;
}
p{
  top: 50%;
  font-size: 2rem;
}
.section1 h1, .section1 p {
  z-index: 3;
  transform: translate(-50%, -50%);
  box-shadow: none;
}

.section2 h1 {
  transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
  z-index: 3;
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
}

.author {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  background: #190500;
  border-bottom-left-radius: 5px;
  transition: 300ms;
}

.author a,
.author a:visited {
  color: #333;
  text-decoration: none;
  display: block;
  transition: 300ms;
}

.author:hover,
.author:active {
  box-shadow: 0 0 10px #33333350;
}