@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap";
/*************************************************************
  HEADER
**************************************************************/
#logo
{
  width: 196px;
  height: 106px;
  margin-top: 0px;
}
#CO
{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 15vh;
  font-weight: bold;
  font-size: 5em;
  letter-spacing: 100px;
  margin-right: -50px;
  line-height: 200px;
}
ul
{
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-right: 25px;
  position: sticky;
  top:50px;
  z-index: 999;
}
li
{
  list-style: none;
  font-size: 1.5em;
  margin-left: 10px;
}
a
{
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}
a:hover
{
  text-decoration: underline white;
}



header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  position: relative;
  -webkit-transform-style: inherit;
          transform-style: inherit;
  z-index: -1;
  text-align: center;
}

header::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url(unnamed.jpg) top center;
  background-size: cover;
  -webkit-transform: translateZ(-1px) scale(2.1);
          transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}


/*************************************************************
  SECTIONS
**************************************************************/
section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  position: relative;
  -webkit-transform-style: inherit;
          transform-style: inherit;
}

.section1 {
  background: #271001;
  box-shadow: 0 0 20px #333;
  z-index: 1;
  min-height: 55vh;
}
.section1-bis
{
  background: #271001;
  box-shadow: 0 0 20px #333;
  z-index: 1;
  min-height: 200vh;
}
.section2
{
  min-height: 80vh;
}
.section2::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url('concept3.JPG') top center;
  background-size: cover;
  -webkit-transform: translateZ(-.5px) scale(1.6);
          transform: translateZ(-.5px) scale(1.6);
  z-index: -1;
}

/*************************************************************
  HEADINGS
**************************************************************/
h2 {
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  padding: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(-1px) scale(2) translate(-25%, -25%);
          transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}
#s1-content{
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  padding: 1rem;
  box-shadow: 0 0 20px #333;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(-1px) scale(2) translate(-25%, -25%);
          transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}
#philo
{
  top: 20%;
  left:50vw;
  padding-left: 200px;
}
#tiret
{
  font-size: 10em;
  font-weight: bold;
  top:30%;
  left:50vw;
}
#text-philo
{
  font-size: 2em;
  top: 60%;
  left:65vw;
}
#since
{
  font-size: 2em;
  top:40%;
  left:25vw;
}

#s2-content{
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  padding: 1rem;
  box-shadow: 0 0 20px #333;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(-1px) scale(2) translate(-25%, -25%);
          transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}
#collections
{
  top:20%;
}


.section1 h2{
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: none;
}
.section1 #s1-content{
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: none;
}
.section1-bis #s2-content{
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: none;
}


.section2 h2 {
  -webkit-transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
          transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
  z-index: 3;
}

/*************************************************************
  BASIC STYLES
**************************************************************/
*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
}
