

                                /* SHOP */
                                /* SHOP */
                                /* SHOP */

img {
    height: 200px;
}

.storeName {
    font-weight: 500;
}

.footShopImg img {
    height: auto;
}

.footShopImg i {
    font-size: 2em;
}