

                                /* SHOPS */
                                /* SHOPS */
                                /* SHOPS */

img {
    max-width: 100%;
	height: auto;
}

.storeName {
    font-weight: 500;
}

.footShopImg img {
    height: auto;
}

.footShopImg i {
    font-size: 2em;
}

.storeItems, .storeImg {
    height: auto;
}

.allShopTitle {
    margin-top: 100px;
    margin-bottom: 150px;
    border-left: 5px solid;
}

.allShopTitle p {
    font-size: 2em;
}

.allShopTitle h1 {
    font-size: 4em;
    font-weight: 500;
}

#shops_logoCo {
    height: 100px;
}

