{% extends 'base.html.twig' %}

{% block title %}Boutique {% endblock %}

{% block body %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/shop.css') }}">
{% endblock %}

<div class="d-flex flex-column align-items-center">
    <h1 class="generalStyle">Toutes les boutiques</h1>

    <div class="store row col-12 py-5">
        <div class="storeItems col-3 d-flex flex-column pb-4 align-items-center">
            <div class="storeImg">
                <img src="https://import.w3lead.com/files/jimmyfairly/store-thumbnail-24.jpg">
                <div class="storeHover d-none">
                    <div class="storeHours">
                        <ul>
                            <li>Lun : 13h-19h</li>
                            <li>Mar : 11h-19h</li>
                            <li>Mer : 11h-19h</li>
                            <li>Jeu : 11h-19h</li>
                            <li>Ven : 11h-19h</li>
                            <li>Sam : 11h-19h</li>
                            <li>Dim : Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <a class="" href="/pages/jimmy-fairly-annecy">
                    <div class="storeName">Jimmy Fairly - Annecy</div>
                    <div class="storeAdress">12 Rue Carnot, 74000, Annecy</div>
                    <span class="storeLink">Voir en détail</span>
                </a>
            </div>
        </div>
        <div class="storeItems col-3 d-flex flex-column pb-4 align-items-center">
            <div class="storeImg">
                <img src="https://import.w3lead.com/files/jimmyfairly/store-thumbnail-24.jpg">
                <div class="storeHover d-none">
                    <div class="storeHours">
                        <ul>
                            <li>Lun : 13h-19h</li>
                            <li>Mar : 11h-19h</li>
                            <li>Mer : 11h-19h</li>
                            <li>Jeu : 11h-19h</li>
                            <li>Ven : 11h-19h</li>
                            <li>Sam : 11h-19h</li>
                            <li>Dim : Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <a class="" href="/pages/jimmy-fairly-annecy">
                    <div class="storeName">Jimmy Fairly - Annecy</div>
                    <div class="storeAdress">12 Rue Carnot, 74000, Annecy</div>
                    <span class="storeLink">Voir en détail</span>
                </a>
            </div>
        </div>
        <div class="storeItems col-3 d-flex flex-column pb-4 align-items-center">
            <div class="storeImg">
                <img src="https://import.w3lead.com/files/jimmyfairly/store-thumbnail-24.jpg">
                <div class="storeHover d-none">
                    <div class="storeHours">
                        <ul>
                            <li>Lun : 13h-19h</li>
                            <li>Mar : 11h-19h</li>
                            <li>Mer : 11h-19h</li>
                            <li>Jeu : 11h-19h</li>
                            <li>Ven : 11h-19h</li>
                            <li>Sam : 11h-19h</li>
                            <li>Dim : Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <a class="" href="/pages/jimmy-fairly-annecy">
                    <div class="storeName">Jimmy Fairly - Annecy</div>
                    <div class="storeAdress">12 Rue Carnot, 74000, Annecy</div>
                    <span class="storeLink">Voir en détail</span>
                </a>
            </div>
        </div>
        <div class="storeItems col-3 d-flex flex-column pb-4 align-items-center">
            <div class="storeImg">
                <img src="https://import.w3lead.com/files/jimmyfairly/store-thumbnail-24.jpg">
                <div class="storeHover d-none">
                    <div class="storeHours">
                        <ul>
                            <li>Lun : 13h-19h</li>
                            <li>Mar : 11h-19h</li>
                            <li>Mer : 11h-19h</li>
                            <li>Jeu : 11h-19h</li>
                            <li>Ven : 11h-19h</li>
                            <li>Sam : 11h-19h</li>
                            <li>Dim : Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <a class="" href="/pages/jimmy-fairly-annecy">
                    <div class="storeName">Jimmy Fairly - Annecy</div>
                    <div class="storeAdress">12 Rue Carnot, 74000, Annecy</div>
                    <span class="storeLink">Voir en détail</span>
                </a>
            </div>
        </div>
        <div class="storeItems col-3 d-flex flex-column pb-4 align-items-center">
            <div class="storeImg">
                <img src="https://import.w3lead.com/files/jimmyfairly/store-thumbnail-24.jpg">
                <div class="storeHover d-none">
                    <div class="storeHours">
                        <ul>
                            <li>Lun : 13h-19h</li>
                            <li>Mar : 11h-19h</li>
                            <li>Mer : 11h-19h</li>
                            <li>Jeu : 11h-19h</li>
                            <li>Ven : 11h-19h</li>
                            <li>Sam : 11h-19h</li>
                            <li>Dim : Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <a class="" href="/pages/jimmy-fairly-annecy">
                    <div class="storeName">Jimmy Fairly - Annecy</div>
                    <div class="storeAdress">12 Rue Carnot, 74000, Annecy</div>
                    <span class="storeLink">Voir en détail</span>
                </a>
            </div>
        </div>
        <div class="storeItems col-3 d-flex flex-column pb-4 align-items-center">
            <div class="storeImg">
                <img src="https://import.w3lead.com/files/jimmyfairly/store-thumbnail-24.jpg">
                <div class="storeHover d-none">
                    <div class="storeHours">
                        <ul>
                            <li>Lun : 13h-19h</li>
                            <li>Mar : 11h-19h</li>
                            <li>Mer : 11h-19h</li>
                            <li>Jeu : 11h-19h</li>
                            <li>Ven : 11h-19h</li>
                            <li>Sam : 11h-19h</li>
                            <li>Dim : Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="">
                <a class="" href="/pages/jimmy-fairly-annecy">
                    <div class="storeName">Jimmy Fairly - Annecy</div>
                    <div class="storeAdress">12 Rue Carnot, 74000, Annecy</div>
                    <span class="storeLink">Voir en détail</span>
                </a>
            </div>
        </div>
    </div>
    
    <section id="sectionFootShop" class="footShop p-5" >
        <div class="">
            <div class="d-flex col-12 row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 mb-3"></div>
                        <div class="col-9 mb-3">Opticien agréé</div>
                        <div class="footShopImg col-3">
                            <i class="float-right fas fa-atom"></i>
                        </div>
                        <div class="col-9">
                            <div class="">
                                <p>Nous sommes agréés depuis 10 ans par la Sécurité Sociale et votre mutuelle.</p>
                            </div>
                        </div>
                    </div>     
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 mb-3"></div>
                        <div class="col-9 mb-3">9,6 clients sur 10 nous recommandent</div>
                        <div class="footShopImg col-3">
                            <i class="float-right fas fa-space-shuttle"></i>
                        </div>
                        <div class="col-9">
                            <div class="">
                                <p>Service client disponible 6j/7. Livraison et retours 30j gratuits. Garantie Jimmy Fairly 1 an.</p>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3 mb-3"></div>
                        <div class="col-9 mb-3">Atelier en France</div>
                        <div class="footShopImg col-3">
                            <i class="float-right far fa-hand-spock"></i>
                        </div>
                        <div class="col-9">
                            <div class="">
                                <p>Nos verres et montures sont contrôlés et assemblés dans notre Atelier en Île-de-France..</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
